{% extends '../layout/layout.html' %}
{% load static i18n %}

{% block title %}
{% trans 'List of Doctors' %}
{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet"
    href="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/libs/formvalidation/dist/css/formValidation.css' %}" />


{% endblock %}
{% block body %}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h6 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light">{% trans 'Doctors' %} /</span> {% trans 'Add Doctors' %}
        </h6>

        <div class="page-header">
            <h2 class="text-dark text-center">{% trans 'Add Doctor' %}</h2>
        </div>
        <form method="POST" class="needs-validation" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="card mb-4">
                <h5 class="card-header text-center">{% trans 'Application Form of Doctor' %}</h5>
                <div class="card-body">

                    <h6 class="fw-normal">1. {% trans 'Account Info' %}</h6>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <label for="defaultSelect" class="form-label">{{ form.card_id.label }}</label>
                                {{ form.card_id }}
                                <p class="text-danger">
                                    {{ form.card_id.errors.as_text }}
                                </p>
                            </div>
                            <!-- {% if form.card_id %}
              <label class="form-label">{% trans 'Card ID' %}</label>
              <input type="text" value="{{ form.card_id.value }}" name="card_id" class="form-control" placeholder="">

              {% else %}
              <label class="form-label">{% trans 'Card ID' %}</label>
              <input type="text" name="card_id" class="form-control" placeholder="{% trans 'Enter Card ID' %}" required>
              <p class="text-danger">
                {{ form.card_id.errors.as_text }}
              </p>
              {% endif %} -->
                        </div>

                        <!-- <div class="col-md-6">
              <label class="form-label" for="multicol-username">Username</label>
              <input type="text" id="multicol-username" class="form-control" placeholder="john.doe">
            </div>

            <div class="col-md-6">
              <div class="form-password-toggle">
                <label class="form-label" for="multicol-password">Password</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="multicol-password" class="form-control" placeholder="············"
                    aria-describedby="multicol-password2">
                  <span class="input-group-text cursor-pointer" id="multicol-password2"><i
                      class="bx bx-hide"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-password-toggle">
                <label class="form-label" for="multicol-confirm-password">Confirm Password</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="multicol-confirm-password" class="form-control" placeholder="············"
                    aria-describedby="multicol-confirm-password2">
                  <span class="input-group-text cursor-pointer" id="multicol-confirm-password2"><i
                      class="bx bx-hide"></i></span>
                </div>
              </div>
            </div> -->
                    </div>

                    <hr class="mx-n4 my-4">
                    <h6 class="fw-normal">2. {% trans 'Personal Info' %}</h6>
                    <div class="row justify-content-center g-3">
                        <div class="col-md-6">
                            {% if form.name %}
                            <label class="form-label">{% trans 'Name' %}</label>
                            <input type="text" value="{{ form.name.value }}" name="name" class="form-control"
                                placeholder="">
                            <p class="text-danger">
                                {{ form.name.errors.as_text }}
                            </p>
                            {% else %}
                            <label class="form-label">{% trans 'Name' %}</label>
                            <input type="text" name="name" class="form-control" placeholder="{% trans 'Enter Name' %}"
                                required>
                            <p class="text-danger">
                                {{ form.name.errors.as_text }}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if form.surname %}
                            <label class="form-label">{% trans 'Surname' %}</label>
                            <input type="text" value="{{ form.surname.value }}" name="surname" class="form-control"
                                placeholder="">
                            {% else %}
                            <label class="form-label">{% trans 'Surname' %}</label>
                            <input type="text" name="surname" class="form-control"
                                placeholder="{% trans 'Enter Surname' %}" required>
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            {% if form.middle_name %}
                            <label class="form-label">{% trans 'Middle name' %}</label>
                            <input type="text" value="{{ form.middle_name.value }}" name="middle_name"
                                class="form-control" placeholder="">
                            {% else %}
                            <label class="form-label">{% trans 'Middle name' %}</label>
                            <input type="text" required name="middle_name" class="form-control"
                                placeholder="{% trans 'Enter Middle name' %}">
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">{{ form.birthday.label }}</label>
                            {{ form.birthday }}
                        </div>


                        <div class="col-md-6">
                            {% if form.photo %}
                            <label class="form-label">{% trans 'Photo' %}</label>
                            <input type="file" value="{{ form.photo.value }}" name="photo" class="form-control"
                                placeholder="">
                            {% else %}
                            <label class="form-label">{% trans 'Photo' %}</label>
                            <input type="file" accept="image/*" name="photo" class="form-control"
                                placeholder="{% trans 'Please enter photo' %}">
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            <label for="defaultSelect" class="form-label">{{ form.gender.label }}</label>
                            {{ form.gender }}
                        </div>


                    </div>

                    <hr class="mx-n4 my-4">
                    <h6 class="fw-normal">3.{% trans 'Contact Info' %}</h6>
                    <div class="row g-3">
                        <div class="col-md-6">
                            {% if form.phone %}
                            <label class="form-label">{% trans 'Phone' %}</label>
                            <input type="text" value="{{ form.phone.value }}" name="phone" class="form-control"
                                placeholder="">
                            {% else %}
                            <label class="form-label">{% trans 'Phone' %}</label>
                            <input type="text" required name="phone" class="form-control"
                                placeholder="{% trans 'Enter Phone' %}">
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if form.phone2 %}
                            <label class="form-label">{% trans 'Phone 2' %}</label>
                            <input type="text" value="{{ form.phone2.value }}" name="phone2" class="form-control"
                                placeholder="">
                            {% else %}
                            <label class="form-label">{% trans 'Phone 2' %}</label>
                            <input type="text" required name="phone2" class="form-control"
                                placeholder="{% trans 'Enter Phone 2' %}">
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">{{ form.city.label }}</label>
                            {{ form.city }}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">{{ form.district.label }}</label>
                            {{ form.district }}
                        </div>

                        <div class="col-md-6">
                            {% if form.email %}
                            <label class="form-label">{% trans 'Email' %}</label>
                            <input type="email" value="{{ form.email.value }}" name="email" class="form-control"
                                placeholder="">
                            {% else %}
                            <label class="form-label">{% trans 'Email' %}</label>
                            <input type="email" name="email" class="form-control"
                                placeholder="{% trans 'Enter Email' %}">
                            {% endif %}
                        </div>


                        <hr class="mx-n4 my-4">
                        <h6 class="fw-normal">3.{% trans 'Work Place Info' %}</h6>
                        <div class="col-md-6">
                            <label class="form-label">{{ form.hospital.label }}</label>
                            {{ form.hospital }}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">{{ form.department.label }}</label>
                            {{ form.department }}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">{{ form.speciality.label }}</label>
                            {{ form.speciality }}
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">{{ form.post.label }}</label>
                            {{ form.post }}
                        </div>

                    </div>


                    <div class="invoice-action-btn mt-2 mb-1">
                        <button type="submit" class="btn btn-primary btn-block invoice-send-btn">
                            <i class="bx bxs-save"></i>
                            <span>{% trans 'Saqlash' %}</span>
                        </button>
                        <button type="reset" class="btn btn-label-secondary">Cancel</button>
                    </div>

                </div>
            </div>
        </form>

    </div>

    <div class="content-backdrop fade"></div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
<!-- AutoFocus plugin, automatically focus on the first invalid input  -->
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>

{% endblock %}